.grid-row {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.grid-item {
    height: 36px;
    width: 45px;
    margin: 1px;
    background-color: #3f454a;
    cursor: pointer;

    & > img {
        margin: auto;
        display: flex;
        margin-top: 2px;
        height: 32px;
    }
}

.grid-item:hover {
    background-color: #596167;;
}

.notes {
    width: 100%;
}

.item-details {
    position: relative;
    padding: 1px;
    bottom: 40px;
}

.item-detail {
    width: 100%;
    display: inline-flex;
    font-size: 13px;
    text-overflow: ellipsis;

    & > div {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    & > #fuzzy {
        position: relative;
        bottom: 15px;
        font-size: 30px;
        opacity: 0.4;
    }
}

.remove-additional {
    padding: 0px;
    padding-left: 6px;
    padding-right: 6px;

    i {
        font-size: 12px;
        text-align: center;
    }
}